<form 
    hx-post="{{ link('auth.login') }}"
    hx-disabled-elt="button[type='submit']"
>
    {% for error in form.formErrors %}
        <div class="alert alert-error">{{ error }}</div>
    {% endfor %}

    <label for="email">E-mail</label>
    <input 
        type="email"
        id="email"
        name="email"
        {% if form.fields.email.error %}
            aria-invalid="true"
            aria-describedby="invalid-helper-email"
        {% endif %}
        value="{{ form.fields.email.value|default('') }}"
    />

    {% if form.fields.email.error %}
        <small id="invalid-helper-email">
            {{ form.fields.email.error }}
        </small>
    {% endif %}

    <label for="password">Password</label>
    <input 
        type="password"
        id="password"
        name="password"
        {% if form.fields.password.error %}
            aria-invalid="true"
            aria-describedby="invalid-helper-password"
        {% endif %}
        value="{{ form.fields.password.value|default('') }}"
    />

    {% if form.fields.password.error %}
        <small id="invalid-helper-password">
            {{ form.fields.password.error }}
        </small>
    {% endif %}

    <button type="submit">
        Login
    </button>

    <section class="htmx-indicator">
        <div aria-busy="true"></div>
    </section>
</form>